# Mysqld process settings
[mysqld]
skip-name-resolve
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
log-error=/var/log/mariadb/mariadb.log
pid-file=/run/mariadb/mariadb.pid
tmp_table_size=1G
max_heap_table_size=1G
max_tmp_tables=300
sort_buffer_size=10M 
read_buffer_size=10M 
table_open_cache=8000
query_cache_limit=50M
join_buffer=10M

# Galera process settings
[galera]
bind-address=0.0.0.0
wsrep_on=0
wsrep_provider=/usr/lib64/galera/libgalera_smm.so
wsrep_cluster_address="gcomm://1.1.1.1,2.2.2.2"
wsrep_cluster_name='core_db_cluster'
wsrep_slave_threads=1
wsrep_sst_method=rsync
wsrep_sst_auth=root:dbpassword
wsrep_causal_reads=0
wsrep_retry_autocommit=1
wsrep_max_ws_size=2147483647
wsrep_max_ws_rows=0
binlog_format=row
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
innodb_locks_unsafe_for_binlog=1
datadir=/var/lib/mysql
innodb_log_file_size=100M
innodb_file_per_table
innodb_flush_log_at_trx_commit=2
