// ref: http://en.znc.in/wiki/Configuration

AnonIPLimit = 10
AuthOnlyViaModule = false
ConfigWriteDelay = 0
ConnectDelay = 5
HideVersion = true
LoadModule = webadmin
MaxBufferSize = 2500
Motd = === Welcome! ===
ProtectWebSessions = true
ServerThrottle = 30
Skin = _default_
StatusPrefix = *
Version = 1.8.0

<Listener listener0>
	AllowIRC = true
	AllowWeb = true
	IPv4 = true
	IPv6 = true
	Port = 6697
	SSL = false
	URIPrefix = /
</Listener>

<User {{ znc_user_name }}>
	Admin = true
	Allow = *
	Nick = {{ znc_user_nick }}
    AltNick = {{ znc_user_nick }}_
	AppendTimestamp = false
	AuthOnlyViaModule = false
	AutoClearChanBuffer = true
	AutoClearQueryBuffer = true
	ChanBufferSize = 50
	ClientEncoding = ^UTF-8
	DenyLoadMod = false
	DenySetBindHost = false
	Ident = {{ znc_user_ident }}
	JoinTries = 10
	LoadModule = chansaver
	LoadModule = controlpanel
	MaxJoins = 0
	MaxNetworks = 1
	MaxQueryBuffers = 50
	MultiClients = true
	NoTrafficTimeout = 180
	PrependTimestamp = true
	QueryBufferSize = 50
	QuitMsg = %Leaving...%
	RealName   = {{ znc_user_realname }}
	Skin = dark-clouds
	TimestampFormat = [%H:%M:%S]

	<Network freenode>
		Encoding = ^UTF-8
		FloodBurst = 9
		FloodRate = 2.00
		IRCConnectEnabled = true
		JoinDelay = 0
		LoadModule = simple_away
		LoadModule = nickserv
		QuitMsg = %Disconnecting...%
		Server = chat.freenode.net +6697
		TrustAllCerts = false
		TrustPKI = true

		<Chan #LFS>
			Buffer = 500
		</Chan>

		<Chan #alpine-devel>
			Buffer = 1000
		</Chan>

		<Chan #alpine-linux>
			Buffer = 500
		</Chan>

		<Chan #alpine-offtopic>
			Buffer = 500
		</Chan>

		<Chan #buildroot>
			Buffer = 500
		</Chan>

		<Chan #crux>
			Buffer = 500
		</Chan>

		<Chan #crux-arm>
			Buffer = 500
		</Chan>

		<Chan #crux-devel>
			Buffer = 900
		</Chan>

		<Chan #fedora>
			Buffer = 500
			Disabled = true
		</Chan>

		<Chan #fedora-unregistered>
			Disabled = true
		</Chan>

		<Chan #ipfire>
			Buffer = 750
		</Chan>

		<Chan #lfs-support>
			Buffer = 500
		</Chan>

		<Chan #nginx>
			Buffer = 200
		</Chan>

		<Chan #nim>
			Buffer = 900
		</Chan>

		<Chan #ptxdist>
			Buffer = 900
		</Chan>

		<Chan #r/linux>
			Buffer = 500
		</Chan>

		<Chan #t2>
			Buffer = 2500
		</Chan>

		<Chan #yocto>
			Buffer = 500
		</Chan>
	</Network>

</User>