# reference: https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/8/html/Installation_Guide/sect-kickstart-syntax.html

# Run the installer
install

# Run the text install
text

# Skip X config
skipx

# Use CDROM installation media
cdrom

# System language
lang en_US.UTF-8

# Keyboard layouts
keyboard us

# Network information
network --bootproto=dhcp --onboot=yes --hostname=centos.localdomain --activate

# Root password
rootpw root

# Selinux in permissive mode (will be disabled by provisioners)
selinux --permissive

# Allow firewalld services
firewall --enabled --service=ssh,http,https --port=9090:tcp --port=9090:udp --port=5000-5010:tcp --port=5000-5010:udp

# System timezone
timezone UTC

# Only use /dev/vda
ignoredisk --only-use=vda

# Overwrite the MBR
zerombr

# Partition clearing information
clearpart --all --initlabel

# Disk partition information
part /boot/efi --fstype=efi --maxsize=350 --size=35 --ondrive=vda --grow 
part /boot --fstype="xfs" --size=1500 --ondrive=vda --asprimary
part pv.01 --fstype="lvmpv" --size=0 --ondrive=vda --grow --asprimary

# LVM partition information
volgroup system_vg pv.01
logvol / --fstype="xfs" --size=8256 --name=root_lv --vgname=system_vg --fsoptions="default,noatime,discard" --grow

# Bootloader settings.
bootloader --boot-drive=vda --append="crashkernel=auto"

# Do not run the Setup Agent on first boot
firstboot --disabled

# Accept the EULA
eula --agreed

# System services
services --enabled="chronyd" --enabled="sshd"

# Reboot the system when the install is complete
reboot

# Packages

%packages
@core
grub2-efi-x64
grub2-efi-x64-modules
efibootmgr
dosfstools
device-mapper-persistent-data
nano
sudo
curl
rsync
unzip
tar
dnf-plugins-core
yum-utils
bash-completion
-iwl*firmware
-ql*firmware
-a*-firmware
%end
