[Unit]
Description=ZNC IRC bouncer container (Podman)

[Service]
Restart=on-failure
ExecStartPre=/usr/bin/rm -f /var/run/%n.pid /var/run/%n.cid
ExecStart=/usr/bin/podman run --conmon-pidfile  /var/run/%n.pid  --cidfile /var/run/%n.cid -p 8888:8888 -d jlab-znc 
ExecStop=/usr/bin/sh -c "/usr/bin/podman rm -f `cat /var/run/%n.cid"
KillMode=none
Type=forking
PIDFile=/var/run/%n.pid

[Install]
WantedBy=local.target